:root {
    --red: #E32726;
    --faddedRed: #E8504F;
    --lightRed: #F19393;
    --blue: #222C64;
    --fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
[dir] .nx-theme-styles .nx-theme-button-1{
    font-family: var(--fontFamily);
    font-size: 15px;
    background-color: var(--red);
    border-color: var(--red);
    color: whitesmoke;
}
[dir] .nx-theme-styles .nx-theme-button-1:not(.nx-read-only):not(:disabled):hover {
    background-color: var(--faddedRed);
}
[dir] .nx-theme-styles .nx-theme-button-2 {
    font-family: var(--fontFamily);
    font-size: 15px;
    border-color: var(--red);
    color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-button-2:not(.nx-read-only):not(:disabled):hover {
    background-color: var(--lightRed);
}
[dir] .nx-theme-styles .nx-theme-input-1 {
    font-family: var(--fontFamily);
    color: var(--blue);
}
[dir] .nx-theme-styles .nx-theme-label-1 {
    font-family: var(--fontFamily);
    color: var(--blue);
    font-size: 18px;
}
[dir] .nx-theme-styles .nx-theme-richtext {
    font-family: var(--fontFamily);
}
[dir] .nx-theme-styles .nx-theme-richtext p {
    font-family: var(--fontFamily);
    color: var(--blue);
    font-size: 18px;
}
[dir] .nx-theme-styles .nx-theme-richtext a {
    font-family: var(--fontFamily);
    color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-help-text-1 label {
    font-family: var(--fontFamily);
    color: var(--blue);
}
[dir] .nx-theme-styles .form-header p {
    font-family: var(--fontFamily);
    color: var(--blue);
    font-size: 32px;
    font-weight: bolder;
}
[dir] .nx-theme-styles .nx-theme-ng-select-1{
    font-family: var(--fontFamily);
    color: var(--blue);
}
[dir] .nx-theme-styles ntx-currency .nx-simple-currency-control .nx-btn-input-icon{
    color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-richtext .cke_focus .cke_inner{
    border-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-input-1:not(.nx-read-only):focus {
    border-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-ng-select-1.ng-select-focused.ng-select-opened {
    border-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-ng-select-1.ng-select-focused:not(.ng-select-opened) {
    border-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-ng-select-1.ng-select-focused .ng-dropdown-panel {
    border-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-ng-select-1.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-selected{
    background-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-ng-select-1.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-selected:hover{
    background-color: var(--faddedRed);
}
[dir] .nx-theme-styles .nx-theme-ng-select-1.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-marked:not(.ng-option-selected){
    color: var(--blue);
    background-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-checkbox-1 .nx-checkbox {
    font-family: var(--fontFamily);
    color: var(--blue);
}
[dir] .nx-theme-styles .nx-icon.nx-upload-filetype {
    color: var(--red);
}
[dir] .nx-theme-styles .nx-upload-filename {
    color: var(--red);
}
[dir] .nx-theme-styles .file-actions .nx-icon {
    color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-datepicker-1 .flatpickr-day {
    color: var(--blue);
}
[dir] .nx-theme-styles .nx-theme-datepicker-1 .flatpickr-day.selected:not([class*="MonthDay"]) {
    background-color: var(--red);
    border-color: var(--red);
}
[dir] .nx-theme-styles .nx-theme-datepicker-1 .flatpickr-action-todayBtn {
    color: var(--red);
    font-family: var(--fontFamily);
    border-color: var(--red);
    background-color: #FFFFFF;
}
[dir] .nx-theme-styles .nx-theme-datepicker-1 .flatpickr-action-todayBtn:hover {
    color: #FFFFFF;
    font-family: var(--fontFamily);
    border-color: var(--red);
    background-color: var(--lightRed);
}
[dir] .nx-theme-styles .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background-color: var(--red);
    
}
[dir] .nx-theme-styles .nx-signature-placeholder-canvas-border, .nx-signature-placeholder-canvas-border h5 {
    color: var(--red);
}
[dir] .nx-theme-styles .nx-peoplepicker-control .nx-btn-input-icon ntx-icon {
    fill: var(--red);
}
[dir] .nx-theme-styles .mat-step-header .mat-step-icon {
    background-color: var(--blue);
}
[dir] .nx-theme-styles .mat-step-header .mat-step-icon.mat-step-icon-selected {
    background-color: var(--red);
}
[dir] .nx-theme-styles .mat-step-header .mat-step-icon.mat-step-icon-state-edit {
    background-color: var(--blue);
}
[dir] .nx-theme-styles .mat-step-label {
    color: var(--blue);
    font-family: var(--fontFamily);
}
[dir] .nx-theme-styles .nx-theme-heading-1 {
    color: var(--blue);
    font-family: var(--fontFamily);
}
[dir] .nx-theme-styles .mat-step-label h4.nx-theme-heading-1 {
    font-size: 18px;
}